include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/inegt *.html *.json *.js *.less *.css *.mo *.yml *.png *.ttf *.woff *.woff2 *.webp
recursive-include ckanext/inegt/migration *.ini *.py *.mako
