<footer>
  <div class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="footer-images">
            <a href="https://www.ine.gob.gt/" class="footer-logo">
              <img
                alt="{% trans %}Site logo{% endtrans %}"
                src="/INE.png"
              />
            </a>
          </div>
          <div class="social-media">
            <a
              aria-label="facebook"
              href="https://www.facebook.com/estadisticagt/"
              rel="noopener noreferrer"
            >
              <i class="fa fa-facebook"></i>
            </a>
            <a
              aria-label="twitter"
              href="https://twitter.com/ine_guatemala"
              rel="noopener noreferrer"
            >
              <i class="fa fa-twitter"></i>
            </a>
            <a
              aria-label="youtube"
              href="https://www.youtube.com/channel/UCTmdHAWP_fUAnFVhokct57g"
              rel="noopener noreferrer"
            >
              <i class="fa fa-youtube"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 footer-links">
          {% block footer_nav %}
          <h2>Secciones</h2>
          <ul class="list-unstyled">
            {{ h.build_nav('dataset.search', _('Datasets')) }}
            {{h.build_nav('group.index', _('Categories')) }} {{
            h.build_nav('home.about', _('Help')) }} {{
            h.build_nav('dataset.search', _('Featured initiatives')) }}
          </ul>

          {% endblock %}
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h2>Enlaces internos</h2>
          <ul class="list-unstyled">
            <li><a href="/">Políticas de privacidad</a></li>
            <li><a href="#">Normativas</a></li>
            <li><a href="#">Habilitación en datos.gob</a></li>
            <li><a href="#">Notificar error</a></li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <h2>Ayuda institucional</h2>
          <ul class="list-unstyled">
            <li><a href="#">Ingreso de solicitud de ayuda</a></li>
          </ul>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>

  <div class="footer-credits">
    <div class="container">
      <img src="redciudadana.png" />
      <p>
        Desarrollado por asociación civil Red Ciudadana®
      </p>
      <div class="icons">
        <img src="/cc.png" />
        <img src="/person.png" />
        <img src="cycle.png" />
      </div>
    </div>
  </div>

  {% block footer_debug %} {% if g.debug %} {% include 'snippets/debug.html' %}
  {% endif %} {% endblock %}
</footer>
